body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;

  background-image: url("/image1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}



/* White card box */
.login-box {
  background-color: black;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-family: Arial, sans-serif;
}

/* Inputs */
input[type="text"],
input[type="file"] {
  padding: 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Radio group */
.radio-group label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

/* Error text */
.error {
  color: red;
  font-size: 15px;
  margin-top: -10px;
}

/* Button styles */
button {
  background-color: #0a7e3e;
  color: white;
  padding: 10px;
  font-size: 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
}