.csv-columns {
    background-color: black;
    padding: 16px;
    border-radius: 8px;
    color: white;
    margin-top: 20px;
    overflow-x: auto;

}

.csv-columns h2 {
    margin-bottom: 10px;
    color: white;
}

.csv-columns ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.csv-columns li {
    color: white;
    background: rgba(255, 255, 255, 0.1);
    padding: 6px 10px;
    border-radius: 4px;
    white-space: nowrap;
}

/* CSVColumns.css */
.csv-column-item {
    cursor: pointer;
    padding: 8px 12px;
    margin: 5px;
    background-color: #222;
    color: white;
    border-radius: 5px;
    display: inline-block;
}

.csv-column-item:hover {
    background-color: #444;
}

.csv-column-item.selected {
    background-color: #00bcd4;
    color: white;
    font-weight: bold;
    border: 1px solid #00bcd4;
}